---
layout: archive
---

{{ content }}
<h1>Welcome to my personal page!</h1>
<p class="description">I write blog posts about knowledge I learned in Data Science/Machine Learning/Artificial Intelligence from time to time. You can also find my porfolio here. Enjoy reading!</p>
<div class="notice--primary" style="text-align: justify !important; margin-right: 2em !important;"><b>Disclaimer:</b> I try my best to give credit for all sources I made referenecs to. 
  I'll give my most sincere apology if you found some parts in my post borrowed from your work. If it happens, p  lease kindly contact me so I can immediately correct my mistakes.</div>
<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}